{% extends "buildingManagement/base.html" %}
{% load static %} 
{% block content %}
{% for item in items %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img
            class="intro-img img-fluid mb-3 mb-lg-0 rounded"
            src="{{item.image.url}}"
            alt=""
            style="width: 300;"
            />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{item.item}}</span>
                    <span class="section-heading-upper">Quantity: {{item.quantity}}</span>
                    <span class="section-heading-upper">Price: {{item.price}}</span>
                </h2>
            </div>
        </div>
    </div>
</section>>

{% endfor %}
{% endblock %}